<h1>Add Product</h1>
    
<form name="productForm" role="form" novalidate>  
      <div class="form-group">
        <label for="productname" class="control-label">Product Name</label>
        <input type="text" ng-model="product.productname" name="productname" placeholder="Product Name" class="form-control" required>
    </div>  
     <div class="form-group">
        <label for="productdetails" class="control-label">Product Description</label>
        <input type="text" ng-model="product.productdetails" name="productdetails" placeholder="Product Details" class="form-control" required>
    </div>  


   
    <br>
    
    <button ng-click="addProduct()" class="btn btn-primary">Save</button>
    <button ng-click="goBack()" class="btn btn-default pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> Back
    </button>    

</form>